

h1{
    background-color:rgb(43, 172, 231);
    height:50px;
    padding:30px;
    margin:0;
    font-style: oblique;
}

html{
    
    background-color:rgb(160, 202, 221);
    padding: 10px 10px 10px 30px;
}

h2 {
    background-color:aqua;
    height:20px;
    width:20em;
    padding:10px;
}

h3 {
    padding-left:20px;
    padding-top:30px;
    border-bottom: thick double #3169be;
    
}


